body{
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: beige;
    width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linha1, .linha2, .linha3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container input{
    padding: 10px;
    
}
